opencv-python-headless
numpy==1.26.4
matplotlib
Pillow
torch
torchvision
fastapi
uvicorn
python-multipart
requests
git+https://github.com/facebookresearch/segment-anything.git
langgraph
langchain-core
rasterio
geopandas
shapely
fiona
ezdxf
simplekml
mercantile
pyproj
psycopg2-binary
celery
redis
overturemaps
psutil
transformers
timm
